#quick-picks {
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    padding: 10px;
    width: 70vw;
    position: relative;
    margin: 5vh 15vw 5vh 15vw
}
#quick-picks\ window{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    min-height: 100px;
    gap: 10px;
}
button {
    width: 100px;
    height: 50px;
    border-radius: 0.5rem;
    border: black solid 2px;
    background: aqua;
}
a {
    text-decoration-line: none;
    color: black;
}
section {
    display: flex;
    flex-direction: row;
    border: black solid 1px;
    padding: 10px;
    width: 70vw;
    position: relative;
    margin: 10vh 15vw 5vh 15vw;
    gap: 0.5rem;
}
#days-todos {
    background-color: rgba(95, 158, 160, 0.4);
}
#today-events {
    background-color: rgba(255, 127, 80, 0.4);
}
#weekEvents, #days-todos {
    height: 50vh;
}
