.editor, .preview {
  height: 70vh;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  overflow-y: auto;
}
.editor {
  resize: none;
  width: 100%;
  padding: 1rem;
  font-family: monospace;
  background: #fff;
}
.preview {
  background-color: #fff;
  padding: 1rem;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
