.todoForm {
    display: flex;
    flex-direction: column;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.todoItem {
    border: solid black 1px;
    width: 35vw;
}
a {
    text-decoration-line: none;
    color: black;
}