.day-column {
    border-left: black 1px solid;
    border-right: black 1px solid;
    height: 80%;
    width: 14.3%;
    min-width: 14.3%;
    max-width: 14.3%;
    text-align: center;
}
.container {
    margin-top: 50px;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.eventClass {
    background-color: rgba(0, 0, 255, 0.2);
    margin-bottom: -15px;
    overflow: clip;
}

.eventForm {
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration-line: none;
    color: black;
}
