<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Event</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="WeekViewStyles.css" />
</head>
<body>
    <header>
      <h1>Add new Event</h1>
      <form class="eventForm" th:method="post" action="#" th:action="@{saveEvent}" th:object="${event}">
        <label for="event-title">Name</label>
        <input type="text" id="event-title" th:field="*{title}" required>
        <label for="event-date">Date</label>
        <input type="date" id="event-date" th:field="*{date}" required>
        <label for="event-startTime">Start Time</label>
        <input type="time" id="event-startTime" th:field="*{startTime}" required>
        <label for="event-endTime">End Tme</label>
        <input type="time" id="event-endTime" th:field="*{endTime}" required>
        <label for="event-isPrivate">
          Set to be private: <input type="checkbox" id="event-isPrivate" th:field="*{isPrivate}">
        </label>
        <input type="submit" class="btn btn-success" value="Add Event">
      </form>
    </header>
</body>
</html>
