<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Todo</title>
    <link rel="stylesheet" href="TodoStyles.css" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <h1>Add new todo</h1>
    <form class="todoForm" th:method="post" action="#" th:action="@{saveTodo}" th:object="${todo}">
        <label for="todo-name">Name</label>
        <input type="text" id="todo-name" th:field="*{name}">
        <label for="todo-description">Description</label>
        <input type="text" id="todo-description" th:field="*{description}">
        <label for="todo-dueDate">Due date</label>
        <input type="date" id="todo-dueDate" th:field="*{dueDate}">
        <input type="submit" class="btn btn-success" value="Add Todo">
    </form>
</body>
</html>