<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="NotesStyles.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <header>
      <a class="btn" th:href="@{/}">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/></svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M520-600v-240h320v240H520ZM120-440v-400h320v400H120Zm400 320v-400h320v400H520Zm-400 0v-240h320v240H120Zm80-400h160v-240H200v240Zm400 320h160v-240H600v240Zm0-480h160v-80H600v80ZM200-200h160v-80H200v80Zm160-320Zm240-160Zm0 240ZM360-280Z"/></svg>
      </a>
    </header>
<div class="container">
  <div>
    <h3 class="text-center mb-4">Write Note/markdown file</h3>
    <form id="markdownForm" th:action="@{/notes/download}" method="post">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="content" class="form-label">Markdown Input</label>
          <textarea id="content" name="content" class="editor" rows="20" placeholder="Start taking notes "></textarea>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">Live Preview</label>
          <div id="preview" class="preview"></div>
        </div>
      </div>
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary px-4">Download .md</button>
      </div>
    </form>
  </div>
</div>

<script>
  const textarea = document.getElementById('content');
  const preview = document.getElementById('preview');

  function updatePreview() {
    const markdown = textarea.value;
    preview.innerHTML = marked.parse(markdown);
  }

  textarea.addEventListener('input', updatePreview);

  updatePreview();
</script>
</body>
</html>
